_wandb:
    value:
        cli_version: 0.23.1
        e:
            81lccusuhvulssv1wmmm99jp8h085hsh:
                codePath: scripts/Train_Script.py
                codePathLocal: scripts/Train_Script.py
                cpu_count: 8
                cpu_count_logical: 16
                cudaVersion: "12.8"
                disk:
                    /:
                        total: "180902232064"
                        used: "86562398208"
                email: 3297240254@qq.com
                executable: /home/fmt/miniconda3/envs/sb3/bin/python
                git:
                    commit: f1f3a10a9e137cb5d8fad6edcb81ada09cecd2a7
                gpu: NVIDIA GeForce GTX 1650
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Turing
                      cudaCores: 896
                      memoryTotal: "4294967296"
                      name: NVIDIA GeForce GTX 1650
                      uuid: GPU-866177ef-22d3-fdee-6758-f45e9f57a01c
                host: fmt-Lenovo-Legion-Y7000P2020
                memory:
                    total: "16623517696"
                os: Linux-5.15.0-139-generic-x86_64-with-glibc2.31
                program: /home/fmt/catkin_ws/src/fmt_/sb3_SAC/scripts/Train_Script.py
                python: CPython 3.12.12
                root: ./
                startedAt: "2026-01-24T13:50:42.667152Z"
                writerId: 81lccusuhvulssv1wmmm99jp8h085hsh
        m: []
        python_version: 3.12.12
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 13
                - 16
                - 35
            "4": 3.12.12
            "5": 0.23.1
            "12": 0.23.1
            "13": linux-x86_64
batch_size:
    value: 256
buffer_size:
    value: 200000
features_dim:
    value: 256
gamma:
    value: 0.99
learning_rate:
    value: 0.0003
net_arch:
    value:
        - 256
        - 256
tau:
    value: 0.005
total_timesteps:
    value: 1000000
