_current_progress_remaining:
    value: 0
_custom_logger:
    value: "False"
_episode_num:
    value: 0
_last_episode_starts:
    value: '[ True]'
_last_obs:
    value: |-
        OrderedDict({'map': array([[[[0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5],
                 [0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5],
                 [0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5],
                 ...,
                 [0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5],
                 [0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5],
                 [0.5, 0.5, 0.5, ..., 0.5, 0.5, 0.5]],

                [[1. , 1. , 1. , ..., 1. , 1. , 1. ],
                 [1. , 1. , 1. , ..., 1. , 1. , 1. ],
                 [1. , 1. , 1. , ..., 1. , 1. , 1. ],
                 ...,
                 [1. , 1. , 1. , ..., 1. , 1. , 1. ],
                 [1. , 1. , 1. , ..., 1. , 1. , 1. ],
                 [1. , 1. , 1. , ..., 1. , 1. , 1. ]]]],
              shape=(1, 2, 64, 64), dtype=float32), 'pose': array([[ 0.22265625,  0.8671875 , -0.51403433,  0.8577696 ,  0.3128538 ,
                 0.09523369]], dtype=float32)})
_last_original_obs:
    value: |-
        OrderedDict({'map': array([[[[5.0000000e-01, 5.0000000e-01, 5.0000000e-01, ...,
                  5.0000000e-01, 5.0000000e-01, 5.0000000e-01],
                 [5.0000000e-01, 5.0000000e-01, 5.0000000e-01, ...,
                  5.0000000e-01, 5.0000000e-01, 5.0000000e-01],
                 [5.0000000e-01, 5.0000000e-01, 5.0000000e-01, ...,
                  5.0000000e-01, 5.0000000e-01, 5.0000000e-01],
                 ...,
                 [2.3448405e-01, 4.1544911e-02, 7.9933070e-03, ...,
                  1.3380210e-04, 7.0652692e-04, 2.8043066e-04],
                 [2.2356857e-01, 2.9014770e-02, 2.0030795e-02, ...,
                  8.5693457e-05, 2.1456445e-04, 3.0436591e-04],
                 [9.2291899e-02, 1.6294850e-01, 3.5193393e-01, ...,
                  1.6643746e-03, 1.0499848e-03, 3.6267869e-04]],

                [[1.0000000e+00, 1.0000000e+00, 1.0000000e+00, ...,
                  1.0000000e+00, 1.0000000e+00, 1.0000000e+00],
                 [1.0000000e+00, 1.0000000e+00, 1.0000000e+00, ...,
                  1.0000000e+00, 1.0000000e+00, 1.0000000e+00],
                 [1.0000000e+00, 1.0000000e+00, 1.0000000e+00, ...,
                  1.0000000e+00, 1.0000000e+00, 1.0000000e+00],
                 ...,
                 [4.2934585e-02, 2.3687759e-02, 1.5986614e-02, ...,
                  2.6760419e-04, 3.6430423e-04, 5.6086131e-04],
                 [1.1244433e-01, 5.8029540e-02, 4.0061589e-02, ...,
                  1.7138691e-04, 4.2912891e-04, 6.0873182e-04],
                 [1.8458380e-01, 8.4587909e-02, 6.7410573e-02, ...,
                  3.1082542e-04, 6.0661189e-04, 7.2535739e-04]]]],
              shape=(1, 2, 64, 64), dtype=float32), 'pose': array([[ 0.8202619 ,  0.5675726 ,  0.49434355,  0.8692666 ,  0.32355595,
                -0.626422  ]], dtype=float32)})
_logger:
    value: <stable_baselines3.common.logger.Logger object at 0x7fb06f77b230>
_n_updates:
    value: 138500
_num_timesteps_at_start:
    value: 0
_stats_window_size:
    value: 100
_total_timesteps:
    value: 500
_vec_normalize_env:
    value: None
_wandb:
    value:
        cli_version: 0.23.1
        e:
            1m5slrf8w8v1tf7w9xzgt7yz9zb956fs:
                codePath: scripts/Train_Script.py
                codePathLocal: scripts/Train_Script.py
                cpu_count: 8
                cpu_count_logical: 16
                cudaVersion: "12.8"
                disk:
                    /:
                        total: "180902232064"
                        used: "73382223872"
                email: 3297240254@qq.com
                executable: /home/fmt/miniconda3/envs/sb3/bin/python
                git:
                    commit: 65d13c16f980968ca96452f75813b806196d6214
                gpu: NVIDIA GeForce GTX 1650
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Turing
                      cudaCores: 896
                      memoryTotal: "4294967296"
                      name: NVIDIA GeForce GTX 1650
                      uuid: GPU-866177ef-22d3-fdee-6758-f45e9f57a01c
                host: fmt-Lenovo-Legion-Y7000P2020
                memory:
                    total: "16623513600"
                os: Linux-5.15.0-139-generic-x86_64-with-glibc2.31
                program: /home/fmt/fmt_/sb3_SAC/scripts/Train_Script.py
                python: CPython 3.12.12
                root: ./
                startedAt: "2025-12-10T09:41:27.613698Z"
                writerId: 1m5slrf8w8v1tf7w9xzgt7yz9zb956fs
        m: []
        python_version: 3.12.12
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 2
                - 3
                - 13
                - 16
                - 22
                - 35
            "4": 3.12.12
            "5": 0.23.1
            "12": 0.23.1
            "13": linux-x86_64
action_noise:
    value: None
action_space:
    value: Box(-1.0, 1.0, (2,), float32)
actor:
    value: |-
        Actor(
          (features_extractor): CustomCNN(
            (cnn): Sequential(
              (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
              (1): ReLU()
              (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (3): ReLU()
              (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (5): ReLU()
              (6): Flatten(start_dim=1, end_dim=-1)
            )
            (linear): Sequential(
              (0): Linear(in_features=4096, out_features=256, bias=True)
              (1): ReLU()
            )
          )
          (latent_pi): Sequential(
            (0): Linear(in_features=256, out_features=256, bias=True)
            (1): ReLU()
            (2): Linear(in_features=256, out_features=256, bias=True)
            (3): ReLU()
          )
          (mu): Linear(in_features=256, out_features=2, bias=True)
          (log_std): Linear(in_features=256, out_features=2, bias=True)
        )
algo:
    value: SAC
batch_norm_stats:
    value: '[]'
batch_norm_stats_target:
    value: '[]'
batch_size:
    value: 256
buffer_size:
    value: 200000
critic:
    value: |-
        ContinuousCritic(
          (features_extractor): CustomCNN(
            (cnn): Sequential(
              (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
              (1): ReLU()
              (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (3): ReLU()
              (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (5): ReLU()
              (6): Flatten(start_dim=1, end_dim=-1)
            )
            (linear): Sequential(
              (0): Linear(in_features=4096, out_features=256, bias=True)
              (1): ReLU()
            )
          )
          (qf0): Sequential(
            (0): Linear(in_features=258, out_features=256, bias=True)
            (1): ReLU()
            (2): Linear(in_features=256, out_features=256, bias=True)
            (3): ReLU()
            (4): Linear(in_features=256, out_features=1, bias=True)
          )
          (qf1): Sequential(
            (0): Linear(in_features=258, out_features=256, bias=True)
            (1): ReLU()
            (2): Linear(in_features=256, out_features=256, bias=True)
            (3): ReLU()
            (4): Linear(in_features=256, out_features=1, bias=True)
          )
        )
critic_target:
    value: |-
        ContinuousCritic(
          (features_extractor): CustomCNN(
            (cnn): Sequential(
              (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
              (1): ReLU()
              (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (3): ReLU()
              (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
              (5): ReLU()
              (6): Flatten(start_dim=1, end_dim=-1)
            )
            (linear): Sequential(
              (0): Linear(in_features=4096, out_features=256, bias=True)
              (1): ReLU()
            )
          )
          (qf0): Sequential(
            (0): Linear(in_features=258, out_features=256, bias=True)
            (1): ReLU()
            (2): Linear(in_features=256, out_features=256, bias=True)
            (3): ReLU()
            (4): Linear(in_features=256, out_features=1, bias=True)
          )
          (qf1): Sequential(
            (0): Linear(in_features=258, out_features=256, bias=True)
            (1): ReLU()
            (2): Linear(in_features=256, out_features=256, bias=True)
            (3): ReLU()
            (4): Linear(in_features=256, out_features=1, bias=True)
          )
        )
device:
    value: cuda
ent_coef:
    value: auto
ent_coef_optimizer:
    value: |-
        Adam (
        Parameter Group 0
            amsgrad: False
            betas: (0.9, 0.999)
            capturable: False
            decoupled_weight_decay: False
            differentiable: False
            eps: 1e-08
            foreach: None
            fused: None
            lr: 0.0003
            maximize: False
            weight_decay: 0
        )
env:
    value: <stable_baselines3.common.vec_env.dummy_vec_env.DummyVecEnv object at 0x7fb3e1961970>
ep_info_buffer:
    value: deque([], maxlen=100)
ep_success_buffer:
    value: deque([], maxlen=100)
features_dim:
    value: 256
gamma:
    value: 0.99
gradient_steps:
    value: 1
learning_rate:
    value: 0.0003
learning_starts:
    value: 100
log_ent_coef:
    value: tensor([-1.4097], device='cuda:0', requires_grad=True)
lr_schedule:
    value: FloatSchedule(ConstantSchedule(val=0.0003))
n_envs:
    value: 1
n_steps:
    value: 1
net_arch:
    value:
        - 256
        - 256
num_timesteps:
    value: 0
observation_space:
    value: 'Dict(''map'': Box(0.0, 1.0, (2, 64, 64), float32), ''pose'': Box(-1.0, 1.0, (6,), float32))'
optimize_memory_usage:
    value: "False"
policy:
    value: |-
        MultiInputPolicy(
          (actor): Actor(
            (features_extractor): CustomCNN(
              (cnn): Sequential(
                (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
                (1): ReLU()
                (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (3): ReLU()
                (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (5): ReLU()
                (6): Flatten(start_dim=1, end_dim=-1)
              )
              (linear): Sequential(
                (0): Linear(in_features=4096, out_features=256, bias=True)
                (1): ReLU()
              )
            )
            (latent_pi): Sequential(
              (0): Linear(in_features=256, out_features=256, bias=True)
              (1): ReLU()
              (2): Linear(in_features=256, out_features=256, bias=True)
              (3): ReLU()
            )
            (mu): Linear(in_features=256, out_features=2, bias=True)
            (log_std): Linear(in_features=256, out_features=2, bias=True)
          )
          (critic): ContinuousCritic(
            (features_extractor): CustomCNN(
              (cnn): Sequential(
                (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
                (1): ReLU()
                (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (3): ReLU()
                (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (5): ReLU()
                (6): Flatten(start_dim=1, end_dim=-1)
              )
              (linear): Sequential(
                (0): Linear(in_features=4096, out_features=256, bias=True)
                (1): ReLU()
              )
            )
            (qf0): Sequential(
              (0): Linear(in_features=258, out_features=256, bias=True)
              (1): ReLU()
              (2): Linear(in_features=256, out_features=256, bias=True)
              (3): ReLU()
              (4): Linear(in_features=256, out_features=1, bias=True)
            )
            (qf1): Sequential(
              (0): Linear(in_features=258, out_features=256, bias=True)
              (1): ReLU()
              (2): Linear(in_features=256, out_features=256, bias=True)
              (3): ReLU()
              (4): Linear(in_features=256, out_features=1, bias=True)
            )
          )
          (critic_target): ContinuousCritic(
            (features_extractor): CustomCNN(
              (cnn): Sequential(
                (0): Conv2d(2, 16, kernel_size=(5, 5), stride=(2, 2), padding=(2, 2))
                (1): ReLU()
                (2): Conv2d(16, 32, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (3): ReLU()
                (4): Conv2d(32, 64, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1))
                (5): ReLU()
                (6): Flatten(start_dim=1, end_dim=-1)
              )
              (linear): Sequential(
                (0): Linear(in_features=4096, out_features=256, bias=True)
                (1): ReLU()
              )
            )
            (qf0): Sequential(
              (0): Linear(in_features=258, out_features=256, bias=True)
              (1): ReLU()
              (2): Linear(in_features=256, out_features=256, bias=True)
              (3): ReLU()
              (4): Linear(in_features=256, out_features=1, bias=True)
            )
            (qf1): Sequential(
              (0): Linear(in_features=258, out_features=256, bias=True)
              (1): ReLU()
              (2): Linear(in_features=256, out_features=256, bias=True)
              (3): ReLU()
              (4): Linear(in_features=256, out_features=1, bias=True)
            )
          )
        )
policy_class:
    value: <class 'stable_baselines3.sac.policies.MultiInputPolicy'>
policy_kwargs:
    value: '{''features_extractor_class'': <class ''utils.custom_cnn.CustomCNN''>, ''features_extractor_kwargs'': {''features_dim'': 256}, ''net_arch'': {''pi'': [256, 256], ''qf'': [256, 256]}, ''use_sde'': False}'
replay_buffer:
    value: <stable_baselines3.common.buffers.DictReplayBuffer object at 0x7fb3b43791f0>
replay_buffer_class:
    value: <class 'stable_baselines3.common.buffers.DictReplayBuffer'>
replay_buffer_kwargs:
    value: '{}'
sde_sample_freq:
    value: -1
seed:
    value: None
start_time:
    value: 1765359690516191378
target_entropy:
    value: -2
target_update_interval:
    value: 1
tau:
    value: 0.005
tensorboard_log:
    value: None
total_timesteps:
    value: 500
train_freq:
    value: 'TrainFreq(frequency=1, unit=<TrainFrequencyUnit.STEP: ''step''>)'
use_sde:
    value: "False"
use_sde_at_warmup:
    value: "False"
verbose:
    value: 2
